@import 'variables.scss';

.root {
  // width: 100%;
  // max-width: $page-max-width;
  // flex-grow: 1;
  // align-self: center;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin-top: 40px;

  .left-nav {
    border-right: solid 1px $color-border-light;
  }

  .content {
    margin-top: 40px;
  }
}
